@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Graduate', cursive;
}

.mainDiv {
  max-width: 1600px;
  margin: auto;
}